<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
<a href="./">Index</a>
<a href="./about">About</a>

<h1><%= title %></h1>

<h2><%= subtitle %> for the mandatory assignment</h2>
<p><%= text %></p>
</body>
</html>